.about-body {
  color: white;
  text-align: left;
  padding: 10px;
  margin: 20px auto;
}

.about-image {
  justify-content: center;
  width: 100%;
  margin: 20px;
}
.cv-button-container {
  margin-top: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 15px;
  gap: 20px;
  font-weight: 600;
  color: white;
  bottom: 0;
}
.cv-button {
  justify-content: center;
  border-radius: 50px;
  padding: 10px 38px;
  background: white;
  color: rgb(14, 14, 14);
  border: none;
  margin-bottom: 20px;
}
