.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: white;
}

.nav-logo {
  padding: 0;
  margin: 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  gap: 90px;
  font-weight: 600;
}
.nav-menu a {
  color: white;
  text-decoration: none;
}

.nav-contact {
  border-radius: 50px;
  padding: 10px 38px;
  background: rgb(247, 247, 247);
}
.nav-contact a {
  color: black;
}
