body {
  margin: 0;
  padding: 0;
  background: url("./assets/main-bg-01.png") no-repeat center top,
    linear-gradient(180deg, rgb(40, 40, 90), rgb(52, 52, 97));
  background-size: cover;
  background-blend-mode: multiply;
  font-family: Arial, Helvetica, sans-serif;
}
